.root li {
  display: inline-block;
  color: #e74e13;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
}
.root li a {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  border: 1px solid #e74e13;
  border-radius: 30px;
  margin-right: 20px;
  cursor: pointer;
}
.root li a:hover {
  background-color: #e74e13;
  font-weight: 400;
  color: #fff;
}

.selected a {
  background-color: #e74e13;
  color: #fff;
  font-weight: 800;
}

.cart_icon svg:hover {
  border-radius: 90px;
  background-color: #8c3213;
  stroke-width: 0.9px;
}
